/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    height: 100%;
    background: linear-gradient(90deg, rgba(236,231,227,1) 0%, rgba(223,199,174,1) 49%, rgba(209,170,170,1) 98%);
}
